server=1
daemon=1
txindex=1

rpcuser=ixcoinrpc
rpcpassword=CHANGE_THIS_TO_RANDOM_PASSWORD
rpcallowip=127.0.0.1
rpcport=9882

port=9883

maxconnections=64
dbcache=512

listen=1
discover=1

addnode=seed1.ixcoin.com
addnode=seed2.ixcoin.com

printtoconsole=0
debug=0
